<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">EduConecta</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Mi panel</a>
                        </li>
                        
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Perfil <i class="bi bi-person-circle"></i>
                            </a>
                            <ul class="dropdown-menu">

                                
                                {% for group in request.user.groups.all %}
                                {% if group.name == "Students" %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'edit-student' %}">Editar perfil (Estudiante)</a>
                                </li>
                                {% elif group.name == "Teachers" %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'edit-teacher' %}">Editar perfil (Profesor)</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'delete-user' %}">Eliminar perfil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'log_out' %}">Cerrar sesión</a>
                                </li>
                            </ul>
                        </div>
                        
                    {% else %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'log_in' %}">Iniciar sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'sign_in' %}">Registrarse</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
